{
  "index_patterns": ["logs-general-*"],
  "data_stream": {},
  "priority": {{ template_priority }},
  "template": {
    "settings": {
      "number_of_shards": {{ default_shards }},
      "number_of_replicas": {{ default_replicas }},
      "index.lifecycle.name": "{{ ilm_policy_name }}"
    },
    "mappings": {
      "properties": {
        "@timestamp": {
          "type": "date"
        },
        "message": {
          "type": "text",
          "fields": {
            "keyword": {
              "type": "keyword",
              "ignore_above": 256
            }
          }
        },
        "log_type": {
          "type": "keyword"
        },
        "host": {
          "properties": {
            "name": { "type": "keyword" }
          }
        },
        "processed_at": {
          "type": "date"
        }
      }
    }
  }
}