version: '3.9'

services:
  prometheus:
    image: prom/prometheus:v2.36.2
    user: "65534:65534"
    volumes:
      - "{{ docker_project_dir }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "{{ docker_project_dir }}/prometheus/prometheus_data:/prometheus"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    restart: always

  grafana:
    image: grafana/grafana
    user: "0"
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - "{{ docker_project_dir }}/grafana/grafana_data:/var/lib/grafana"
      - "{{ docker_project_dir }}/grafana/provisioning:/etc/grafana/provisioning"
      - "{{ docker_project_dir }}/grafana/dashboards:/var/lib/grafana/dashboards"
    restart: always