y
y
{{ authentication.elastic_pass }}
{{ authentication.elastic_pass }}
{{ authentication.apm_system_pass }}
{{ authentication.apm_system_pass }}
{{ authentication.kibana_system_pass }}
{{ authentication.kibana_system_pass }}
{{ authentication.kibana_pass }}
{{ authentication.kibana_pass }}
{{ authentication.logstash_system_pass }}
{{ authentication.logstash_system_pass }}
{{ authentication.beats_system_pass }}
{{ authentication.beats_system_pass }}
{{ authentication.remote_monitoring_pass }}
{{ authentication.remote_monitoring_pass }}
